@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Bungee');


html body {
    color: ghostwhite;
/*    background-color: #101010;*/
    background-color: rgba(0,0,0,.9)
}

.github {
    position: absolute;
/*    width: -webkit-fill-available;*/
    left: 75%;
}

.container {
    height: -moz-available;
    height: -webkit-fill-available;
}

[class*=col], [class*=col-] {
    display: flex;
    flex-direction: column;
    height: -moz-available;
    height: -webkit-fill-available;
}

[class*=col] > .block, [class*=col-] > .block {
    margin: auto;
}

/*
[class*=col] > .block > *, [class*=col-] > .block > * {
    text-align: center;
}
*/

.right {
    margin-right: 0 !important;
}

.left {
    margin-left: 0 !important;
}

.logo {
    font-family: 'Architects Daughter', cursive;
    font-size: 5em;
}